name: markdown-lint
permissions:
  contents: read
on:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5
      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63
        with:
          fix: true
          globs: |
            *.md
            !src/**/*.md
            !test/**/*.md
