name: markdown-lint
permissions:
  contents: read
on:
  pull_request:
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v6
      - name: Markdown Lint
        uses: DavidAnson/markdownlint-cli2-action@07035fd053f7be764496c0f8d8f9f41f98305101
        with:
          fix: true
          globs: |
            *.md
            !src/**/*.md
            !test/**/*.md
