name: "Update Documentation"
on:
  push:
    branches:
      - master
  workflow_dispatch:
  pull_request:
jobs:
  generate:
    runs-on: ubuntu-latest
    environment: documentation
    permissions:
      contents: write
      pull-requests: read
    if: "github.ref == 'refs/heads/master'"
    steps:
      - uses: actions/checkout@v6
      - name: Generate Documentation
        uses: devcontainers/action@1082abd5d2bf3a11abccba70eef98df068277772
        with:
          generate-docs: "true"
          base-path-to-features: "./src"
      - name: Create a PR for Documentation
        id: push_image_info
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -e
          echo "Start."

          # Configure git and Push updates
          git config --global user.email github-actions@github.com
          git config --global user.name github-actions
          git config pull.rebase false

          branch=automated-documentation-update-$GITHUB_RUN_ID
          git checkout -b $branch
          message='Automated documentation update'

          # Add / update and commit
          git add */**/README.md
          git commit -m 'Automated documentation update [skip ci]' || export NO_UPDATES=true

          # Push
          if [ "$NO_UPDATES" != "true" ] ; then
              git push origin "$branch"
              gh api \
                --method POST \
                -H "Accept: application/vnd.github+json" \
                /repos/${GITHUB_REPOSITORY}/pulls \
                -f title="$message" \
              -f body="$message" \
              -f head="$branch" \
              -f base='master'
          fi
