name: "Validate devcontainer-feature.json files"
permissions:
  contents: read
on:
  workflow_dispatch:
  pull_request:
jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: "Validate devcontainer-feature.json files"
        uses: devcontainers/action@1082abd5d2bf3a11abccba70eef98df068277772
        with:
          validate-only: "true"
          base-path-to-features: "./src"
